body {
  margin: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.main-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-login {
  width: 300px;

}




/* PAGINA CARDALBUNS */

.container-cardAlbum {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;

}

.cardAlbum {
  width: 10%;
  display: flex;
  flex-direction: column;
  background-color: #ebebf3;
  border: none;
  border-radius: 5px;
  margin: 14px;
  border-style: groove;
  box-shadow: #343a40 13px 13px 5px;
}


.imagem {
  transition: all 1.5s;
  cursor: pointer;
}

.imagem:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
}